.cinema_hall {
    margin-top: 20px;
}
.section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
/*.section .row {*/
/*    margin-bottom: 0;*/
/*}*/

.cinema_hall .section {
    display: flex;
    justify-content: center;

}

h3.film_title {
    color: #000000;
    font-weight: bold;
}
.cinema_place  {
    border-top: 1px solid #6C9CE2;
    border-bottom: 1px solid #6C9CE2;
}
.cinema_place_item {
    border-bottom: 1px solid #6C9CE2;
}
.cinema_footer {
    /*border-top: 1px solid #6C9CE2;*/
}

/*********места в зале***************/
.cinema_place_item > img {

}
.place_item {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 10px;
    background-color: #6C9CE2;
    margin: 10px;
    cursor: pointer;
}
.place_item.close_place {
    width: 50px;
    height: 50px;
    background-color: #e23824;
    margin: 10px;

}
.place_item.close_place:hover {

}
.place_item:hover {
    /*background-color: #09203F;*/
}

/*******************************************/



