.nav_bar {
    background-color: #6c9ce2;
    border-radius: 10px 10px 0 0;
    /*height: 50px;*/
}

.heder_title {
    font-size: 32px;
    color: white;
    font-style: italic;
    font-weight: bold;
}
.heder_title:hover {
    color: #000000;
}

.header_title {
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.header_title:hover {
    color: #000000;

}
.nav_bar ul {
    display: flex;
    justify-content: flex-end;
}
.nav_bar ul li {
    display: flex;
    justify-content: flex-end;
}